:root {
  --secondary-font: 'Mulish', sans-serif;
  --primary-font: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F2F3F4;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 5px;
  position: relative;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  font-family: var(--primary-font);
  padding: 10px;
  overflow: hidden;
  text-align: start;
}

.item .item__image {
  margin-bottom: auto;
  width: 100%;
}

.item .item__add {
  background-color: #2FC18C;
  border: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  margin-top: 15px;
  padding: 8px 5px;
  width: 100%;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}
