* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 237, 237);
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: white;
  border-collapse: collapse;
  border: 0.1rem solid rgba(106, 106, 109, 0.575);
  box-shadow: 2rem rgba(106, 106, 109, 0.575);
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0.5rem;
  width: 13rem;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  height: 20%;
}

.item__price {
  flex-grow: 1;
  padding: 1rem;
  font-weight: 600;
  color: rgb(100, 4, 4);
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: green;
  color: white;
  border: 0.1rem solid green;
  border-radius: 0 0 0.4rem 0.4rem;
  cursor: pointer;
  margin: 0;
  padding: 0.5rem;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.cart__item {
  display: flex;
  padding: 0.3rem;
  margin: 0.4rem;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.5rem;
}

.item__image_cart {
  order: 0;
  display: flex;
  width: 5rem;
  max-height: 5rem;
  border-radius: 0.5rem;
}

.item_desc {
  display: flex;
  order: 1;
  padding: 0 0.1rem 0 0.5rem;
}

.item_close {
  display: flex;
  align-self: center;
  order: 2;
  background-color: rgba(255, 255, 255, 0.76);
  border: solid 0.1rem white;
  color: rgba(0, 0, 0, 0.664);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.item_close:hover {
  background-color: rgba(185, 185, 185, 0.452);
  color: rgba(31, 30, 30, 0.507);
  border: solid 0.1rem rgba(71, 71, 71, 0.295);
  font-weight: 900;
  border-radius: 0.2rem;
}

.empty-cart {
  background-color: white;
  border-collapse: collapse;
  border: 0.1rem solid rgba(106, 106, 109, 0.575);
  box-shadow: 1rem rgba(106, 106, 109, 0.575);
  border-radius: 0.3rem;
}

.empty-cart:hover {
  background-color: white;
  border: 0.1rem solid rgba(106, 106, 109, 0.575);
  box-shadow: 2rem rgba(106, 106, 109, 0.575);
  border-radius: 0.3rem;
  cursor: pointer;
}
